@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,900&subset=cyrillic');

@font-face {
	font-family: 'Huawei Script';
	src: url('../fonts/HuaweiScript-Regular.eot');
	src: url('../fonts/HuaweiScript-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HuaweiScript-Regular.woff2') format('woff2'),
		url('../fonts/HuaweiScript-Regular.woff') format('woff'),
		url('../fonts/HuaweiScript-Regular.ttf') format('truetype'),
		url('../fonts/HuaweiScript-Regular.svg#HuaweiScript-Regular') format('svg');
	font-weight: 500;
	font-style: normal;
}