<div class="c-header">
	<div class="c-header__inner">
		<div class="c-header__col">
			<a class="c-header__logo" href="http://www.huawei.com/minisite/russia/20anniversary/">
				<img src="{{ 'nav-logo.png' | img_asset }}" alt="">
			</a>
			<div class="c-header__desc">
				<p class="c-header__desc-name">
					Kunlun
				</p>
				<p class="c-header__desc-text">
					Сервер для критически<br>
					важных приложений
				</p>	
			</div>
		</div>
		<div class="c-btn__wrapper">
			<a class="c-btn c-btn--specification" href="http://e.huawei.com/ru/marketing-material/onLineView?MaterialID={79FFC87B-FBBB-4B86-BA37-738B4A6C629F}" target="_blank">Скачать спецификации</a>
			<a class="c-btn c-btn--request" href="#">Оставить заявку</a>
		</div>
	</div>
</div>