.c-content {
	position: relative;
	z-index: 1;
	height: calc(~'100vh - 96px');

	&__lead {
		.fz(34, 44);
		font-size: 1.77vw;
		.lh(44, 34);
		font-weight: 300;
		color: #2f2f2f;
	}
	
	&__row {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: center;
	}

	&__col {
		flex-shrink: 0;
		flex-grow: 0;
	}

	&__bg {
		display: none;
  	position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  	transform: translateX(-50%) translateY(-50%);
	}

	&__title {
		margin-bottom: round(20/60em, 3);
		font-size: 3.125vw;
		.lh(60, 60);
		font-weight: 900;
	}

	&__text {
		.fz(24, 33);
		font-weight: 300;
		
		@media screen and (max-width: 1440px) {
			.fz(18, 26);
		}

		span {
			font-weight: normal;
		}
	}
}

.power {
	.c-content__wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 15.625%;
		margin-top: -48px;
		width: 44.27%;
	}
}

.modul {
	.c-content__wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-top: -48px;
		width: 33%;
	}

	&--right {
		.c-content__wrapper {
			right: 7.208%;

			@media screen and (max-width: 1600px) {
				width: 30%;
			}
		}
	}

	&--left {
		.c-content__wrapper {
			left: 7.813%;
		}
	}
}

.memory {
	.c-content__wrapper {
		position: absolute;
		top: 11.546%;
		left: 50%;
		transform: translateX(-50%);
		
		@media screen and (max-width: 1600px) {
			top: 8.546%;
		}

		@media screen and (max-width: 1440px) {
			top: 4.546%;
		}
	}

	.c-content__icon {
		margin-right: 30px;
	}
}

.blocks {
	
	.c-content__wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center; 
	}

	.c-content__inner {
		display: flex;
		justify-content: space-between;
		margin-top: -48px;
	}

	.c-blocks__item {
		width: 21.875%;

		@media screen and (max-width: 1600px) {
			width: 18.875%;
		}

		@media screen and (max-width: 1440px) {
			width: 15.875%;
		}

		&:first-child {
			margin-left: 5.125%;
			text-align: right;

			.c-features__icon {
				margin-left: auto
			}
		}

		&:last-child {
			margin-right: 5.125%;
			text-align: left;

			.c-features__icon {
				margin-right: auto
			}
		}
	}

	.c-features__item {
		flex-direction: column;
	}

	.c-features__icon {
		width: 45.715%;
		margin-right: 0;

		@media screen and (max-width: 1600px) {
			width: 52.985%;
		}

		@media screen and (max-width: 1440px) {
			width: 62.63%;
		}
	}
}

.contacts {
	.c-content__wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 15.625%;
		margin-top: -48px;
		width: 38.02%;
	}
}