.c-features {
	
	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 10%;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__icon {
		position: relative;
		flex-shrink: 0;
		width: 22.59%;
		margin-right: 45px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;

		&::before {
			content: '';
			display: block;
			padding-top: 92.188%;
		}

		&-text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: inline-block;
			vertical-align: top;
			font-size: 5.156vw;
			.lh(118, 99);
			font-family: @sec-font;
			letter-spacing: -.015em;
			color: @base-color;

			span {
				margin: 0 10px;
				font-size: 2.344vw;
				.lh(54, 45);
				letter-spacing: 0;
			}
		}
	}
}