.c-hero {
	
	&__heading {
		max-width: 565px;
    width: 74.342%;
    margin-bottom: 6.579%;
	}

	&__title {
		font-size: 14.583vw;
		.lh(320, 280);
		font-family: @sec-font;
		letter-spacing: -.015em;
	}

	&__subtitle {
		margin-bottom: 3.289%;
		.fz(20, 27);
		font-weight: 300;
		color: #2b3334;

		@media screen and (max-width: 1440px) {
			.fz(18, 24);
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.c-content__wrapper {
		position: absolute;
		top: 50%;
		left: 15.625%;
		transform: translateY(-50%);
		margin-top: -48px;
		width: 39.583%;
	}
}