.c-header {
	position: relative;
	z-index: 3;
	height: 96px;
	background-color: #fff;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: 0 60px;
	}
}